body {
    font-family: Arial, sans-serif;
}

/* Propiedades botones */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ff0000 !important;
    border: none !important;
}

/* Eliminar resize */

.textareaRemove {
    resize: none;
}

/* Header format */

.header {
    background: #ff0000;
    padding: 10px;
    color: white;
    text-align: center;
}

/* Width para componentes */

textarea {
    width: 100%;
}
