*{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

body{
    /* display: flex; */
}

.section-paciente{
    /* border: 1px solid #000; */

}


.panel{
    background: rgb(250, 109, 109);
    padding: 10px 10px !important;
    border: 1px solid #000;
    width: 200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.panel a{
    margin-top: 10px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    background: #fff;
    font-weight: 400;
}

.title-item{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.search-box{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}

.search-box input{
    border: 1px solid #000 !important;
}

.list-box{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-box p{
    margin: 10px 10px;
}

.caja-one{
    background: red;
}

