  {% load static %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="container-fluid">
      <div class="row mb-4">
          <img src="{% static 'dist/img/logoinacap.png' %}" alt="AdminLTE Logo" class="rounded controlSizeImg col-12 justify-content-center d-flex elevation-3" style="opacity: .8">
      </div>
      <div class="row">
        <h4 class="blancoLetra col-12 justify-content-center brand-text d-flex font-weight-light">Control Enfermeria</h4>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">Robin Hood - Encargado</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/panel/practicante/" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Practicante</p>
            </a>
          </li>
        <li class="nav-item">
          <a href="/panel/paciente/" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Paciente</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/panel/atencion/" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Atencion</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'panel-metricas' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Metricas</p>
          </a>
        </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
